apiVersion: apps/v1
kind: Deployment
metadata:
  name: iperf-check
spec:
  selector:
    matchLabels:
      app: iperf-check
  replicas: 1
  template:
    metadata:
      labels:
        app: iperf-check
    spec:
      containers:
        - name: iperf-check
          image: quay.io/ooichman/iperf-check
          env:
            - name: URL_INTERVAL
              value: '30'
            - name: IPREF_CLIENT_URI
              value: "{{ iperf_client_route.resources[0].spec.host }}"
            - name: IPREF_SERVER
              value: "{{ iperf_server_svc.resources[0].metadata.name }}"
            - name: WARNING_LIMIT
              value: 50000m
            - name: CRITICAL_LIMIT
              value: 30000m
          resources: {}          
